*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
.about-hero {
    background-color: #000; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 20px;

  }
  
  .about-text {
    flex: 1;
    min-width: 60%;

  }
  
  .about-text h1 {
    font-size: 130px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
  }
  
  .about-text h2 {
    font-size: 43px;
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
    font-family: "sf pro",sans-serif;
  }
  
  .about-text h2 span {
    color: #6aa936; /* Green color for 'Partners' */
  }
  
  .about-text p {
    font-size: 24px;
    line-height: 1.8;
    color: #ddd;
    max-width: 600px;
    margin-bottom: 30px;
    font-family: "TEXT" , sans-serif;
  }
  
  .about-text .get-btn {
    background-color: #6aa936;
    color: #fff;
    padding: 12px 22px;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 150px;
  }
  
  .about-text .btn:hover {
    background-color: #5a932f;
  }
  
  .about-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    min-width: 35%;
  }
  
  .about-img img {
    width: 320px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }
  
  .about-img .img-top{
    z-index: 1;
    margin-right: 200px;
    margin-top: 100px;

  }
  
  .about-img .img-bottom {
    z-index: 2;
    margin-top: -150px;
    margin-left: 90px;
  }
  
@media (max-width:768px){
  .about-hero{
    padding: 10px ;
    margin-top: 80px;
    flex-direction: column;
  }
  .about-text{
    padding: 20px 6%;
  }
  .about-text .about-outline{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 124px;
  }
  .about-text h2{
  font-size: 45px;
  line-height: 1.1;
  margin-top: -30px;
  margin-bottom: 30px;

  }

  .about-text p{
    font-size: 20px;
    line-height: 1.4;
    min-width: 90vw;
    }

}

@media (max-width:480px) {
  .about-img {
    padding-left: 10px;
    margin: 0;
    padding:20px 0;
  }
  .about-img .img-top{
    margin: 0;
    width: 400px;
  }
  .img-bottom{
    display: none;
  }
 .about-hero{
  flex-direction: column;
  margin-top: 80px;
  padding: 20px 4% ;
 }
 .about-text .about-outline{
  font-size: 35px;
  margin-top: 30px;


 }

 .about-text h2{
  font-size: 35px;
  line-height: 1;
  margin: 0;
  

  
 }
 
 .about-text p{
  line-height: 1.4;
  font-size: 18px;
  margin-top: 25px;

 }
 .about-text{
  padding: 20px 0%;
}


}


/* thoughts to reality */

.thoughts-section {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .thoughts-section h2 {
    font-size: 32px;
    font-weight: 700;
    color: #1d3c6e;
    margin-bottom: 15px;
  }
  
  .thoughts-section .highlight-green {
    color: #70aa26;
  }
  
  .thoughts-section p {
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 17px;
    line-height: 1.6;
    color: #1c1c1c;
  }
  
  .image-flex {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
 
  .flex-1{
    flex: 1;
  }

  .flex-2{
    flex: 2;
  }
  .flex-3{
    flex: 1;
  }

  .flex-2-flex{
    display: flex;
    flex: 1;
  }
  .flex-2-flex img{
    min-width: 80px;
  }
  .flex-2 img{
    flex: 1;
  }

@media (max-width:480px) {
  .image-flex{
    flex-direction: column;
  };
  .flex-2-flex{
  flex-direction: column;

}
.flex-2-flex img{
  width: 400px;

}
  .flex-2{
  flex-direction: column;

}

}
  
  .image-flex div img {
    width: 100%;
    border-radius: 12px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  }

  
 /*  Story section */

.story-section{
    text-align: center;
    padding: 80px 20px;
}

.story-container{
    padding: 30px 50px;

}
.story-container h1{ 
    font-size: 50px;
    font-family: "sf pro" , sans-serif;
    color: #134872;
    margin: 20px;
}
.story-container h1 span{
    color: #70aa26;
}

.story-container h3{
    font-size: 24px;
    font-family: "TEXT",sans-serif;
    margin: 20px;
    color: #000000;
    font-weight: 400;

}

.story-container p{
    font-size: 18px;
    font-family: "TEXT",sans-serif;
    margin: 20px;
    color: #000000;
    line-height: 1.6;
}
@media (max-width:480px){
  .story-container {
    padding: 10px;
  }
  .story-container h1{
    font-size: 35px;
  }
  .story-container h3{
    font-size: 20px;
  }
  .story-section{
    padding: 20px 0;
  }

}
/*  our mission section */

.mission-section {
    padding: 70px 10px;
    background-color: #f9f9f9;

  }
  
  .mission-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 90px;
    max-width: 90vw;
    padding: 20px 50px;
  }
  
  .mission-image img {
    width: 580px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    padding: 0px 30px;
  }
  .mission-text{
    min-width: 700px;
  }
  .mission-text h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "sf pro",sans-serif;
  }
  
  .mission-text .gray {
    color: #54595f;  }
  
  .mission-text .green {
    color: #61a60e;
  }
  
  .mission-text p {
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
    max-width: 600px;
    font-family: "TEXt",sans-serif;
  }

 @media (max-width:768px){
  .mission-container{
    grid-template-columns: 1fr;
    padding: 0;
    

  }
  .mission-text{
    min-width: 100vw;
  }

 }

 @media (max-width:480px) {
  .mission-image img {
    padding: 5px;
    width: 400px;
    height: 400px;
    margin: 0;
  }
  .mission-image{
    margin: 0;
    padding:0;
    text-align: start;
    width: 400px;
  }
  .mission-container{
    grid-template-columns: 1fr;
    padding: 5px 2%;
    margin: 0;
  }
  .mission-text{
    min-width: 90vw;
    padding: 2%;
  }
  .mission-text h2{
    font-size: 35px;
  }
  .mission-text p{
    font-size: 18px;
  }
  .mission-section{
    padding: 0 1%;
    margin: 0;
    min-width: 90vw;
  }

 }

/*  our team */

@media (max-width:480px){
  .our-team{
    display: flex;
    flex-direction: column-reverse;
  }
}


  
/* best-solution */ 
.best-solutions {
    padding: 40px 4%;
    background-color: #f9fafa;
    text-align: center;
  }
  .best-solutions h1 {
    font-size: 50px;
    color: #212833;
    margin-bottom: 30px;
    font-family: "sf pro", sans-serif;
    text-align: start;
  }
  .best-solutions h1 span {
    color: #77C58D; 
    font-weight: bold;
  }
  .best-solutions .subtitle {
    font-size: 24px;
    color: #555;
    margin: 35px 0;
    font-family: "TEXT", sans-serif;
  }
  .solution-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    padding: 60px 10px;
  }
  .solution-box {
    background-color: white;
    border-radius: 12px;
    padding: 25px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    height: 210px;
    width: 250px;
  }
  .solution-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }
  .solution-box img {
    width: 60px;
    height: 60px;
    margin: 20px 0 ;
  }
  .solution-box p {
    font-size: 20px;
    font-weight: 600;
    color: #0b2c47;
    font-family: "sf pro" , sans-serif;
  }

  @media (max-width:768px) {
    .solution-grid{
    grid-template-columns: 1fr 1fr;
    }
    .best-solutions h1{
      width: 100%;
    }
    .solution-grid{
      gap: 10px;
      padding: 40px 10%;
    }
  }

  @media (max-width:480px){
    .best-solutions h1{
      width: 100%;
      font-size: 35px;
      padding: 20px 0;      
    }
    
    .best-solutions{
      width: 100vw;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px 6%;
      margin: 0;
    }
    .solution-grid{
      grid-template-columns: 1fr;
      /* padding: 10px 4%; */
      margin: 0;
      }

      .solution-box {
       width: 100%;
      

      }
  }
/*  quote section */ 


.quote-section {
    padding: 60px 20px;
    background-color: #fff;
  }
  
  .quote-container {
    max-width: 93%;
    margin: 0 auto;
    gap: 80px;
    align-items: center;
    background-color: #000;
    height: 590px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;

  }
  
  .quote-box {
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    width: 700px;

  }

  .quote-box img{
    width: 150px;
    margin-top: -170px;
  }
  
  .quote-text {
    font-style: italic;
    font-size: 29px;
    line-height: 1.6;
    font-family: "TEXT",sans-serif;
  }
  
  .quote-image img {
    width: 500px;
    border-radius: 8px;
    z-index: 1;
    margin-top: -100px;
    margin-right:50px ;
  }

  @media (max-width:768px) {
    .quote-container{
      grid-template-columns: 1fr;
    }

    /* .quote-section{
      margin-bottom: 100px;
    } */
    .quote-image img {
      width: 350px;
      margin-left: 30px;
    }
    .quote-text {
      font-style: italic;
      font-size: 18px;
      line-height: 1.6;
      font-family: "TEXT",sans-serif;
    }
    .quote-box{
      max-width: 380px;
    }
    .quote-container{
      height: 900px;
      margin: 0;

    }
@media(max-width:480px){
  .quote-container{
    margin: 0;
    max-width: 470px;
    gap: 0;
    padding: 0;
  }
  .quote-image{
    margin: 0;
    padding: 0;


  }
  .quote-image img {
    width: 350px;
    margin-left: 0px;
    text-align: center;
    padding: 0;
    margin: 0;
  
  }
  .quote-section {
    padding: 60px 10px;
    background-color: #fff;
  }
}

  }